<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
            Inicio
        {% endblock titulo %}
    </title>
</head>
<body>
    <div>
        <ul>
            <li><a href="form_api">Fichar jugador</a></li>
            <li><a href="form_entrenador">Agregar entrenador</a></li>
            <li><a href="form_socio">Agregar Socio</a></li>
        </ul>
    </div>
    {% block main %}

    {% endblock main %}
</body>
</html>