{% extends 'AppEntrega/base.html' %}
{% load static %}
{% block titulo %}
    Buscar Socio
{% endblock titulo %}
{% block main %}
    <h1 style="text-align: center;">Buscar Socio</h1>
    <form action="" method="POST" style="
        background-color: rgb(7, 7, 7);
        display: flex;
        color: aliceblue;
        text-align: center;
    ">{% csrf_token %}
        <table>
            {{ miFormulario.as_table }}
        </table>
        <input type="submit" value="Buscar">
    </form>
{% endblock main %}