{% extends 'AppEntrega/base.html' %}
{% load static %}
{% block titulo %}
    Formulario Entrenadores
{% endblock titulo %}
{% block main %}
<h1 style="
    text-align: center;
">Registrar un Entrenador</h1>
<form class="formulario" action="" method="POST" style="
    background-color: rgb(7, 7, 7);
    display: flex;
    color: aliceblue;
    text-align: center;
">{% csrf_token %}
    <table>
        {{ miFormulario.as_table }}
    </table>
    <input type="submit" value="Enviar">
</form>

{% endblock main %}